<!DOCTYPE html>
<html>
<head>
    {{! Document Settings }}
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    {{! Page Meta }}
    <title>{{meta_title}}</title>
    <meta name="description" content="{{meta_description}}" />

    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="shortcut icon" href="{{asset "favicon.ico"}}">

    {{! Styles'n'Scripts }}
    <link rel="stylesheet" type="text/css" href="{{asset "css/main.css"}}" />
    <link rel="stylesheet" type="text/css" href="{{asset "css/slideshow.css"}}" />


    {{! Ghost outputs important style and meta data with this tag }}
    {{ghost_head}}
</head>

<body class="{{body_class}}">
	<div id="outside_container">

		<div id="container">
{{> header}}
 	<div id="panel" style="display:none;">
	{{> slideshow}}
	</div>
{{! The main content area on the homepage }}

    {{! Everything else gets inserted here }}
	    <div id="content">
	    {{{body}}}
	    </div>




{{> disqus}}

   	  </div>
    
 	</div> </-- end of outside container -->
	{{> footer}}
	
	<div id="sample" style="display:none;">samples go here</div>

    {{! Ghost outputs important scripts and data with this tag }}
    {{ghost_foot}}

    {{! syntax highlighting }}
    <script src="https://google-code-prettify.googlecode.com/svn/loader/run_prettify.js"></script>

    {{! video responsive resizing}}
    <script type="text/javascript" src="{{asset "js/jquery.fitvids.js"}}"></script>
    <script type="text/javascript" src="{{asset "js/netazoic.js"}}"></script>
    <scriptx src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="//code.jquery.com/ui/1.11.2/jquery-ui.min.js"></script>
	<script src="{{asset "/js/velocity/velocity.min.js"}}"></script>
	<script type="text/javascript" src="{{asset "/js/njs/njq.js"}}"></script>
	<script type="text/javascript" src="{{asset "/js/vslideshow.js"}}"></script>
	<script type="text/javascript" src="/js/ghostly.js"></script>
	
	<script>

	$(window).load(function() {
		//var slideshow = $("#slideshow-loader");
		var slide = $("#slide-loader");

		if(slide[0] != null){
		  $("#slideshow").hide();
  		  setSlideControls();  
		  var flgLoad = slide.attr("data-flgLoad");
		  $("#slideshow").html(slide.html());
		  $("#slideshow img").css({opacity:1});
			
		  if(flgLoad=="false"){
	  		  	  hideSlideShow();
	  		  	  $("#panel").show(400);
	  		  	  $("#slideshow").show(1400);

		  }
		  else{
				  $("#slideshow").html(slide.html());
				  $("#slideshow").show();
	  			  $("#panel").show(400);
				  $("#slideshow img").css({opacity:1});
	
		 }

		}

		else{
			$("#panel").hide();
		}
		

		var posts = getPosts();
		console.debug(posts);

	});
	
	 

</script>



</body>
</html>
